<div class="bs-example" data-example-id="striped-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Pet Name</th>
        <th>Pet Type</th>
        <th>Pet Age</th>
      </tr>
    </thead>
    <tbody ng-repeat="pet in pets">
      <tr>
          <td>{{pet.name}}
            <form ng-model="editPet" class="form-inline repeat-animation hide-fade" ng-show="editForm" name="form">
              <div class="form-group">
                  <!-- <label for="classText">Class</label> -->
                  <input name="petName" ng-model="petName" type="text" class="form-control input-sm" placeholder={{pet.name}}>
                  <input name="petType" ng-model="petType" type="text" class="form-control input-sm" placeholder={{pet.type}}>
                  <input name="petAge" ng-model="petAge" type="text" class="form-control input-sm" placeholder={{pet.age}}>
              </div>
              <button ng-click="editPet(petName, petType, petAge, pet._id); editForm = ! editForm" type="submit" class="btn btn-default btn-sm btn-edit">Save</button>
            </form>
          </td>
          <td>{{pet.type}}</td>
          <td>{{pet.age}}</td>
          <td class="text-right">
            <button class="btn btn-primary" ng-click="editForm = !editForm"><span class="glyphicon glyphicon-pencil"></span></button>
             <button class="btn btn-danger" ng-click="deletePet(pet._id)"><span class="glyphicon glyphicon-trash"></span></button>
          </td>

      </tr>
    </tbody>
  </table>
</div>
