<div>
  <form class="form-horizontal" method="post"  name="createPetForm">
    <div class="form-group">
      <label for="pet-name" class="col-sm-2 control-label">Pet Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="pet-name" ng-model="pet.name" placeholder="What is your pet's name?" required>
      </div>
    </div>
    <div class="form-group">
      <label for="Pet Type" class="col-sm-2 control-label">Pet Type</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Pet Type" ng-model="pet.type" placeholder="What kind of pet it is?" required>
      </div>
    </div>
    <div class="form-group">
      <label for="Pet age" class="col-sm-2 control-label">Pet age</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="Pet age" ng-model="pet.age" placeholder="How old is your pet?" required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success" ng-click="registerPet()">Submit</button>
      </div>
    </div>
  </form>
</div>

